/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* variables css */

:root{

/* fonts */
  --body-font: "Montserrat", sans-serif;


/* colors */
  --black-color: black;
  --white-color: white;
  --first-color: hsl(18, 95%, 55%);
  --black-border: hsl(255, 10%, 20%);
  --text-color-light: hsl(255, 4%, 70%);
  --first-gradient: linear-gradient(90deg,
                  hsl(18, 95%, 55%),
                  hsl(18, 98%, 64%));


/* z - index */
  --z-fixed: 100;


  --header-height: 3.5rem;

/* font weight */
  --font-semi-bold: 600;
}

/* reset */

html{
  box-sizing: border-box;
}

*:before, *::after{
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/* header and nav */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  position: relative;
}

.nav__logo{
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.nav__logo span{
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__logo i{
  color: var(--first-color);
  font-size: 1.5rem;
}

.nav__toggle,
.nav__close{
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
  transition: color .4s;
}

/* Navigation for mobile devices - responsive design */
@media screen and (max-width: 1150px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--black-color);
    width: 80%;
    height: 100%;
    padding: 7.5rem 3.5rem 0;
    border-left: 2px solid var(--black-border);
    transition: right .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.nav__link{
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* show menu */
.show-menu{
  right: 0;
}


/* home */
.button{
  display: inline-flex;
  background: var(--first-gradient);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 8px 32px hsla(18, 95%, 55%, .3);
  color: var(--white-color);
}
